html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --bg-main: #ffffff;
  --bg-sidebar: #f5f5f7;
  --text-main: #000000;
  --text-muted: #86868b;
  --accent-color: #7224d8;
  --border-color: #e5e5ea;
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-stack);
  background-color: var(--bg-main);
  color: var(--text-main);
  /* overflow: hidden; */
}

.podcast {
  display: flex;
  height: 100vh;
  max-width: 1920px;
}

.podcast__sidebar {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  max-width: 260px;
  width: 100%;
  background-color: var(--bg-sidebar);
  border-right: 1px solid var(--border-color);
  gap: 20px;
}

.podcast__logo {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  column-gap: 3px;
  width: fit-content;
  text-decoration: none;
}

.podcast__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-main);
}

.podcast__search {
  position: relative;
  padding: 8px 12px;
  margin: 0 8px;
  border: 2px solid var(--text-muted);
  border-radius: 8px;
  background-color: var(--bg-main);
  transition: border-color .3s ease-in-out;
}

.podcast__search:focus-within {
  border-color: var(--accent-color);
}

.serch__form {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.search__icon {
  display: flex;
  align-items: center;
  flex-shrink: 0; 
  opacity: 0.6;
}

.search__input {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: var(--text-main);
}

.search__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.podcast__nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.podcast__nav-item  {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  color: var(--text-main);
  gap: 10px;
  text-align: left;
  transition: background-color .3s ease-in-out;
}

.podcast__nav-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.podcast__nav-item--active {
  background-color: rgba(0, 0, 0, 0.07);
  font-weight: 600;
}

.podcast__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.podcast__player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  min-height: 70px;
  border-bottom: 1px solid var(--border-color);
  background-color: rgba(255, 255, 255, 0.8);
}

.player__controls {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 140px;
}

.controls__btn {
  width: 32px;
  height: 32px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .3s ease-in-out
}

.controls__btn:hover {
  opacity: 1;
}

.controls__btn--prev svg,
.controls__btn--next svg {
  width: 22px;
  height: 22px;
}

.controls__btn--play svg {
  width: 32px;
  height: 32px;
}

.player__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 540px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.player__track-info {
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.player__track-title {
  color: var(--text-main);
  font-weight: 600;
}

.player__divider{
  margin: 0 4px;
  color: var(--text-muted);
}

.player__track-artist {
  color: var(--text-muted);
}

.player__timeline {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  color: var(--text-muted);
}

.timeline__progress-bar {
  flex: 1;
  height: 3px;
  accent-color: var(--text-main);
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
}

.timeline__progress-bar:hover {
  opacity: 1;
}

.player__volume {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 160px;
}

.volume__bar {
  width: 80px;
  height: 3px;
  accent-color: var(--text-main);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.volume__bar:hover {
  opacity: 1;
}

.volume__icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.podcast__content {
  flex: 1;
  overflow-y: auto;
  padding: 20px 30px;
}

.content__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
